<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/base.html}">
<head>
    <link rel="stylesheet" href="/css/main/notice.css">
</head>
<body>
<div layout:fragment="content">
    <div class="col">
        <div class="card">
            <div class="card-header">글조회</div>
            <div class="card-body">
                <form method="post">
                    <div class="mb-3">
                        <label for="noticeName" class="form-label"></label>
                        <input type="text" name="noticeName" class="form-title" id="noticeName"
                                th:value="${noticeDTO.noticeName}" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="noticeContents" class="form-label"></label>
                        <input type="text" name="noticeContents" class="form-control" id="noticeContents"
                               th:value="${noticeDTO.noticeContents}" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="date" class="form-label"></label>
                        <input type="text" name="date" class="form-control" id="date"
                               th:value="${noticeDTO.date}" readonly>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>