<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/base.html}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>재미보따리 게임 생성</title>
    <meta name="description" content="">
    <link rel="stylesheet" href="/css/create/create2.css">
    <!-- <link rel="stylesheet" href="/css/create.css"> -->
</head>

<body>

</body>
</html>